.logp{
    width: 35px;
    height: 35px;
}

.sbdr{
    border: 1px;
    background-color: #dddfe0de!important;;
}

.bt{
    border-radius: 1.25rem;
}

.social-icons img{
    width: 40px;
    transition: 0.5s;
    padding: 5px;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}

.navbar-toggler{
    border: none;
}
.glry{
    margin-top: 100px;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 50px;
}

.theading{
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
}

.sglry{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tbtn{
    border-radius: 1.25rem;
}

.form-control{
    border-radius: 1.25rem;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}