.logp{
    width: 20px;
    height: 20px;
}

.navbar-toggler{
    border: none;
}
.glry{
    margin-top: 100px;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 50px;
}

.theading{
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
}

.sglry{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tbtn{
    border-radius: 1.25rem;
}

.form-control{
    border-radius: 1.25rem;
}