.logp{
    width: 20px;
    height: 20px;
}

.fstcon{
    margin-top: 110px;
    margin-bottom: 20px;
}

.mtxt{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.mfrm{
    padding-left: 10px;
    padding-right: 10px;
}

.ntxt{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.smit{
    padding-top: 30px;
    padding-bottom: 30px;
}