.fimg{
    padding-top: 100px;
}

.logp{
    width: 25px;
    height: 25px;
}

.uln{
    margin-left: 0%;
    padding-left: 0%;
}

.glry{
    padding-top: 10px;
    align-items: center;
}

.sglry{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hi{
    padding-bottom: 20px;
    height: 250px;
    object-fit: cover;
}

.im{
    width: 100%;
    height: 195px;
    object-fit: cover;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.ht{
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.tabcon{
    margin-top: 15px;
}
