@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sec1{
    margin-top: 65px;
}

.social-icons  a{
    text-decoration: none;
}

.bh{
    background: hotpink;
}

.jh{
    background: indigo;
}

.sec2{
    margin-top: 10px;
}

footer{
    margin-top: 30px;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.navbar-nav .dropdown-menu{
    position: absolute;
}

